body {
	font-family: sans-serif;
}

svg {
	margin : 0;
	padding : 0;
	display:block
}

rect#scatterFrame {
	stroke: #999;
	stroke-width: 1;
}

text.yLabel, text.xLabel {
	font-size: 12px;
}

div.chart {
	padding: 0;
	margin: 3px;
}

div#vbaHexgrid {
	background: url(map.png);
}

span#gridX {
	margin-right: 0px;
}

h3#mouseCoordinates, h3#gridCoordinates {
	float: left;
	width: 200px;
}

p.caption {
	font-style: italic;
	
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


td,tr {
	vertical-align: center;
	font-size: 12px;
}

.left_label {
	 text-align: center;
	 display: block;
	-moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform : rotate(-90deg) 
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

#temp {
	display :none;
}

.hexagon {
  fill: none;
  stroke-width: 0px;
}

.axis text {
  font: 10px sans-serif;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}


.x.axis path, .y.axis path {
  display: none;
}

.axis line {
  stroke: #4A4A4A;
  opacity: 0.3
}

.selected {
   stroke: #E85E43 !important;
   stroke-width : 1px;
}

#result {
  float : right;
}

#left {
  float : left;
  display : inline;
  overflow : auto;
  width : 500px;
}

#menu {
  width: 500px;
  float : left;
  display: inline;
  padding-left : 50px;
}

#menu button {
  float : right;
}

#top {
  overflow: auto;
}
 
ul, li
{
    border:0; 
    margin:0; 
    padding:0;
    display: inline;
    list-style:none;
}
 
li a
{
    margin-right:5px;
}
